$background: #ecf0f1;
$table_cell: #95a5a6; 
$green: #4CAF50; 

body { 
  background-color: $background; 
  width: 100%; 
  margin: 0; 
  padding: 0; 
  font-size:14px;
  overflow-x: hidden;
}

#wrapper { 
  position: relative; 
  margin: 5%;
}

#container { 
  display: block; 
  position: relative; 
}

.cell {
	background-color: $table_cell; 
}

table {
	border: none;
	width: auto; 
  background-color: transparent;
  width: -moz-available; 
}

td {
	background-color: none;
	border:1px solid $background;
	vertical-align: bottom;
	padding: 0 0 0 0;
}

table tr:nth-child(1) td:first-child {
	visibility:hidden;
}

table tr:nth-child(1) {
	line-height: 18px;
}

tr { 
	line-height:0px;
	height:2px; 
}

table, th, td {
  border: 1px solid transparent;
}

/* controls */ 

.slidecontainer {
  position: relative;
  width: 100%;
  height: auto;
}

.sliders {
  width:80%; 
  display: inline-block;
}

input#sizeRangeSlider, #speedRangeSlider {
  width: 90px;
  vertical-align: middle;
}

.slider {
  -webkit-appearance: none;
  width: 50%;
  height: 25px;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: $green;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: $green;
  cursor: pointer;
}

.counter {
  width:18%; 
  display: inline-block;
  text-align: right;
}
